base {
        log_debug = off;
        log_info = on;
        log = stderr;
        log = "file:/var/log/redsocks2.log";
        daemon = on;
        redirector = iptables;
}

redsocks {
        bind = "127.0.0.1:30000";
        relay = "38.45.66.186:36060";
        type = socks5;
        login = "unruvruzmiyh";
        password = "pwagcaghfmgh";
        autoproxy = 0;
        timeout = 10;
}

tcpdns {
     bind = "127.0.0.1:30001"; 
     tcpdns1 = "8.8.4.4:53";
     tcpdns2 = 8.8.8.8;
     timeout = 4;
}
